---
import AboutMe1 from '../About/parts/AboutMe1.astro';
import AboutMe2 from '../About/parts/AboutMe2.astro';
import AboutMe3 from '../About/parts/AboutMe3.astro';
---

<section
  class='flex flex-col pt-80 mini:pt-28 md:pt-0 md:flex-row w-screen md:w-[300%] h-full md:h-screen'
  id='about'
>
  <AboutMe1 />
  <AboutMe2 />
  <AboutMe3 />
</section>

<script src='../../utils/gsap.js'></script>
