---
import Layout from '../layouts/Layout.astro';
import InformativeBox from '../components/ui/InfoBox.astro';
import About from '../components/About/About.astro';
import CardWorks from '../components/ui/Cards/CardWorks.astro';
import Works from '../components/Work/Works.astro';
import Contact from '../components/Contact/Contact.astro';
---

<Layout title='Liam Marega'>
  <main
    class='flex h-screen flex-col items-start justify-between px-5 md:px-20 relative text-white'
  >
    <div>
      <h1 class='text-5xl md:text-9xl font-extrabold italic'>FRONTEND DEVELOPER</h1>
      <div class='container mx-auto p-4 mb-12 md:p-0'>
        <div class='grid grid-cols-1 md:grid-cols-3 gap-4'>
          {/* Primera parte */}

          <p
            class='font-extralight text-lg text-center md:text-start text-balance opacity-70 text-white p-4 rounded'
          >
            I code with art and Empowering startups with visually stunning and functionally seamless
            interfaces.
          </p>
          {/* Segunda parte */}
          <p
            class='text-center text-lg md:text-start md:text-balance font-extralight text-balance opacity-70 text-white p-4'
          >
            I’m a passionate developer with only year experience who uses research, data, and
            thoughtful design to create delightful products that scale.
          </p>
          {/* Tercera parte */}
          <div class='text-white p-4 rounded flex items-center justify-center'>
            <a href='#' class='flex text-lg items-center border-b border-white'>
              Get in Touch
              {/* Icono de flecha */}
              <svg
                xmlns='http://www.w3.org/2000/svg'
                fill='none'
                viewBox='0 0 24 24'
                stroke='currentColor'
                class='h-6 w-6 ml-2'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width={2}
                  d='M17 8l4 4m0 0l-4 4m4-4H3'></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <InformativeBox />
    </div>
    <img
      src='/images/draws/arrowBucle.svg'
      alt='bottom-arrow'
      class='size-20 md:size-36 absolute bottom-72 md:bottom-32 right-0 md:right-40 lg:right-64 xl:right-40'
    />
  </main>
  <hr class='mx-40 opacity-25' />
  <About />
  <Works />
  <Contact />
</Layout>
