---
import SocialButtons from '../../components/ui/buttons/SocialButtons.astro';
---

<section
  id='contact'
  class='h-full p-24 md:p-0 md:h-screen w-screen flex justify-center items-center'
>
  <SocialButtons />
</section>
