---
import Card from './ui/Card.astro';
---

<main id='work' class='min-h-screen py-10 px-28 relative text-white'>
  <div class='absolute gap-10 top-0 left-0 w-screen bg-white h-16 flex items-center text-center'>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
    <h2 class='text-4xl text-black text-blackfont-extrabold italic'>WORK</h2>
  </div>

  <div class='pt-36 flex items-start justify-between'>
    <Card
      title='Ferox App'
      description='Ferox is a hunting social network'
      image='/images/works/feroxIcon.svg'
    />
    <Card
      title='Ferox App'
      description='Ferox is a hunting social network'
      image='/images/works/feroxIcon.svg'
    />
    <Card
      title='Ferox App'
      description='Ferox is a hunting social network'
      image='/images/works/feroxIcon.svg'
    />
    <Card
      title='Ferox App'
      description='Ferox is a hunting social network'
      image='/images/works/feroxIcon.svg'
    />
  </div>
</main>
