---
import Terminal from '../../ui/Terminal.astro';
---

<!-- about me 3 -->
<div
  id='about_me_3'
  class='flex
 section
 overflow-x-hidden
justify-center
items-center
w-screen
h-[50vh]
md:h-screen
px-0.5
md:px-36
gap-10'
>
  <div class='relative w-5/6 md:w-3/6 z-20'>
    <h5 class='text-2xl mt-5 md:mt-0 md:text-6xl'>
      I specialize in developing &nbsp;
      <strong class='text-green-300'>pixel-perfect</strong>
      user interfaces and using the latest technologies, such as <br />
      <strong
        class='bg-gradient-to-r bg-clip-text text-transparent
            from-indigo-500 via-purple-700 to-indigo-500
            animate-text'
        >React</strong
      >, <strong
        class='bg-gradient-to-r bg-clip-text text-transparent
            from-indigo-500 via-purple-700 to-indigo-500
            animate-text'
        >Next</strong
      >, <strong
        class='bg-gradient-to-r bg-clip-text text-transparent
	  from-indigo-500 via-purple-700 to-indigo-500
	  animate-text'
        >Astro</strong
      >, <strong
        class='bg-gradient-to-r bg-clip-text text-transparent
            from-indigo-500 via-purple-700 to-indigo-500
            animate-text'
        >Flutter</strong
      >
      <br /> and <strong
        class='bg-gradient-to-r bg-clip-text text-transparent
            from-indigo-500 via-purple-700 to-indigo-500
            animate-text'
        >Firebase</strong
      >.
    </h5>
  </div>
  <img
    src='/images/draws/arrow09.svg'
    alt='highlight-draw'
    class='absolute bottom-0 right-0 fill-white hidden md:block'
  />
  <div class='w-10 md:w-3/6 absolute left-5 md:relative z-10'>
    <Terminal />
  </div>

  <style>
    strong {
      font-weight: normal;
    }
  </style>
</div>
