<!-- about me 1 -->
<div
  id='about_me_1'
  class='flex
flex-col
md:flex-row
section
justify-center
items-center
h-3/6
md:h-screen
w-screen'
>
  <div
    class='flex justify-center items-center md:items-start md:justify-between flex-col w-12/12 md:w-5/12 gap-6'
  >
    <h5
      class='text-3xl md:text-6xl font-bold text-black w-fit h-fit p-5 rounded-2xl flex justify-center items-center bg-green-200'
    >
      Who is
    </h5>

    <h5
      class='text-xl md:text-4xl font-bold text-black w-fit h-fit p-5 rounded-2xl flex justify-center items-center bg-yellow-300'
    >
      Liam?
    </h5>
    <p class='text-center text-balance md:text-start text-2xl md:text-4xl w-10/12'>
      My name is Liam and I'm a Developer based in Argentina. Technology lover, willing to grow and
      challenge myself in every project
      <!-- I love to create websites
	and mobile websites and mobile applications that are attractive, functional and easy to use.
	I specialize in developing pixel-perfect user interfaces and using the latest technologies,
	such as React, Next technologies such as React, Next, Astro, Flutter and Firebase. My goal
	is to offer innovative and quality solutions to my clients, and keep learning and improving
	my skills as a developer. I hope you like my work! -->
    </p>
  </div>
  <img
    src='/images/draws/arrowRight.svg'
    alt='highlight-draw'
    class='animate-draw absolute size-40 top-52 right-52 fill-white hidden md:block'
    '
  />
  <div class='flex justify-center items-start w-40 md:w-[30rem]'>
    <img src='/images/draws/arg.webp' alt='argentina-map' loading='lazy' />
  </div>
</div>
