---
import Terminal from '../../ui/Terminal.astro';
---

<!-- about me 3 -->
<div
  id='about_me_3'
  class='flex
 section
 overflow-x-hidden
justify-center
items-center
w-screen
h-3/6
md:h-screen
px-0.5
md:px-36'
>
  <div class='relative w-3/6'>
    <h5 class='text-2xl md:text-6xl'>
      I specialize in developing &nbsp;
      <strong class='text-green-300'>pixel-perfect</strong>
      user interfaces and using the latest technologies, such as <br />
      <strong
        class='bg-gradient-to-r bg-clip-text text-transparent
            from-indigo-500 via-purple-700 to-indigo-500
            animate-text'
        >React</strong
      >, <strong
        class='bg-gradient-to-r bg-clip-text text-transparent
            from-indigo-500 via-purple-700 to-indigo-500
            animate-text'
        >Next</strong
      >, <strong
        class='bg-gradient-to-r bg-clip-text text-transparent
	  from-indigo-500 via-purple-700 to-indigo-500
	  animate-text'
        >Astro</strong
      >, <strong
        class='bg-gradient-to-r bg-clip-text text-transparent
            from-indigo-500 via-purple-700 to-indigo-500
            animate-text'
        >Flutter</strong
      >
      <br /> and <strong
        class='bg-gradient-to-r bg-clip-text text-transparent
            from-indigo-500 via-purple-700 to-indigo-500
            animate-text'
        >Firebase</strong
      >.
    </h5>
  </div>
  <div class='relative w-10 md:w-3/6 h-fit'>
    <Terminal />
  </div>

  <style>
    strong {
      font-weight: normal;
    }
  </style>
</div>
