---
import Layout from '../../layouts/Layout.astro';
import InformativeBox from '../../components/ui/InfoBox.astro';
import Card from '../../components/ui/Card.astro';
import { slide } from 'astro:transitions';
---

<Layout title='Liam Marega - Works'>
  <main
    transition:animate={slide({ duration: '0.4s' })}
    class='flex min-h-screen items-start justify-between py-20 px-28 relative text-white'
  >
    <Card
      title='Ferox App'
      description='Ferox is a hunting social network'
      image='/images/works/feroxIcon.svg'
    />
    <Card
      title='Ferox App'
      description='Ferox is a hunting social network'
      image='/images/works/feroxIcon.svg'
    />
    <Card
      title='Ferox App'
      description='Ferox is a hunting social network'
      image='/images/works/feroxIcon.svg'
    />
    <Card
      title='Ferox App'
      description='Ferox is a hunting social network'
      image='/images/works/feroxIcon.svg'
    />
  </main>
</Layout>
