---
import ButtonMore from '../../ui/buttons/ButtonMore.astro';
---

<div id='ferox' class='relative flex h-screen w-full bg-[#15432b]'>
  <img
    src='/images/works/feroxMock.webp'
    alt='ferox-app-mock'
    class='hidden md:block absolute right-10 bottom-0 h-60 md:h-[45rem]'
  />
  <div class='w-12/12 md:w-3/6 h-5/6 flex flex-col justify-between gap-20 p-10 md:p-20'>
    <div class='flex flex-col justify-around gap-5'>
      <h5
        class='text-3xl mb-7 md:text-6xl font-bold w-fit h-fit p-5 rounded-2xl flex justify-center items-center text-[#15432b] bg-[#E4F4E4]'
      >
        FEROX APP
      </h5>

      <p class='text-balance text-[#E4F4E4] font-semibold text-lg md:text-3xl'>
        Ferox is a hunting social network whose objective is to unify the sector and create links
        between hunters.
      </p>
      <p class='text-balance text-[#E4F4E4] font-semibold text-lg md:text-3xl'>
        Since there is strength in numbers, it is the perfect place to come together and show that
        we are a united sector capable of great things.
      </p>
      <p class='text-balance mb-2 text-[#E4F4E4] font-semibold text-lg md:text-3xl'>
        We offer a series of features designed specifically for your comfort as hunters, always
        being attentive to the needs that arise in the sector.
      </p>

      <ButtonMore />
    </div>
    <div class='flex flex-col border-4 rounded-2xl border-[#E4F4E4] p-3 w-fit'>
      <h5
        class='text-3xl md:text-4xl font-bold w-fit h-fit p-5 flex justify-center items-center text-[#E4F4E4]'
      >
        TECH STACK
      </h5>
      <div class='flex flex-row items-center p-2 gap-x-5 md:pb-0'>
        <img src='/images/icons/Apple_dark.svg' alt='Apple' class='size-6 md:size-14' />
        <img src='/images/icons/android-icon.svg' alt='Android' class='size-6 md:size-14' />
        <img src='/images/icons/flutter.svg' alt='Flutter' class='size-6 md:size-14' />
        <img src='/images/icons/dart.svg' alt='dart' class='size-6 md:size-14' />
        <img src='/images/icons/firebase.svg' alt='firebase' class='size-6 md:size-14' />
        <img src='/images/icons/stripe.svg' alt='stripe' class='size-6 md:size-14' />
      </div>
    </div>
  </div>
</div>
