---
import ButtonMore from '../../ui/buttons/ButtonMore.astro';
---

<div id='lamshoes' class='relative flex md:flex-row-reverse h-screen w-full bg-[#5c85ff]'>
  <img
    src='/images/works/lamshoes.webp'
    alt='ferox-app-mock'
    class='hidden md:block absolute -left-60 top-24 h-60 md:h-[55rem]'
  />
  <div class='w-12/12 md:w-3/6 h-5/6 flex flex-col justify-between gap-20 p-10 md:p-20'>
    <div class='flex flex-col justify-around gap-5'>
      <h5
        class='text-balance text-3xl mb-7 md:text-6xl font-bold w-fit h-fit p-5 rounded-2xl flex justify-center items-center text-[#5c85ff] to-[#F7DB49] bg-[#E4F4E4]'
      >
        LAM Shoes tracking
      </h5>

      <p class='text-balanc etext-[#E4F4E4] font-semibold text-lg md:text-3xl'>
        Lam Tracking is an order tracking platform.
      </p>
      <p class='text-balance text-[#E4F4E4] font-semibold text-lg md:text-3xl'>
        Here you will be able to enter a tracking code that is delivered with a LAM purchase to view
        the status of the shipment
      </p>
      <ButtonMore />
    </div>
    <div class='flex flex-col border-4 rounded-2xl border-[#E4F4E4] p-3 w-fit'>
      <h5
        class='text-3xl md:text-4xl font-bold w-fit h-fit p-5 flex justify-center items-center text-[#E4F4E4]'
      >
        TECH STACK
      </h5>
      <div class='flex flex-row items-center p-2 gap-x-5 md:pb-0'>
        <img src='/images/icons/react.svg' alt='React-icon' class='size-6 md:size-14' />
        <img src='/images/icons/typescript.svg' alt='typescript-icon' class='size-6 md:size-14' />
        <img src='/images/icons/html5.svg' alt='HTML-Icon' class='size-6 md:size-14' />
        <img src='/images/icons/css.svg' alt='css-icon' class='size-6 md:size-14' />
      </div>
    </div>
  </div>
</div>

<style>
  img.absolute {
    -webkit-filter: drop-shadow(-35px 35px 35px #000000);
    filter: drop-shadow(-35px 35px 35px #000000);
  }
</style>
