---
import "../styles/landing-builder.css";
import "@fontsource/inter";
import "@fontsource/space-grotesk";
import "@fontsource/permanent-marker";
import "@fontsource/caveat";
import "material-icons/iconfont/material-icons.css";
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "Desarrollo de landing pages estratégicas de alto rendimiento.",
  image = "/images/og-landing-builder.jpg",
} = Astro.props;
---

<!doctype html>
<html class="dark" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: image,
        },
      }}
      twitter={{
        creator: "@liammdev",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg" }],
        meta: [
          {
            name: "twitter:image",
            content: image,
          },
          {
            name: "twitter:title",
            content: title,
          },
          {
            name: "twitter:description",
            content: description,
          },
        ],
      }}
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="font-sans bg-background-dark text-text-light overflow-x-hidden selection:bg-primary selection:text-black"
  >
    <slot />
  </body>
</html>
