---
import FeroxWork from '../Work/parts/FeroxWork.astro';
import AdvantisWork from '../Work/parts/AdvantisWork.astro';
import FMoneyWork from '../Work/parts/FMoneyWork.astro';
import LamShoesWork from '../Work/parts/LamShoesWork.astro';
---

<section id='work' class='relative rounded-t-3xl h-screen w-full'>
  <FeroxWork />
  <AdvantisWork />
  <FMoneyWork />
  <LamShoesWork />
</section>
