---
import WorkCard from '../Work/parts/WorkCard.astro';
---

<section id='work' class='relative rounded-t-3xl h-screen w-full'>
  <WorkCard
    {...{
      id: 'ferox',
      title: 'Ferox app',
      bgColor: 'bg-[#15432b] ',
      textColor: 'text-[#15432b] ',
      link: 'https://feroxapp.com/',
      description: [
        'Ferox is a hunting social network whose objective is to unify the sector and create links between hunters.',
        'Since there is strength in numbers, it is the perfect place to come together and show that we are a united sector capable of great things.',
        'We offer a series of features designed specifically for your comfort as hunters, always being attentive to the needs that arise in the sector.',
      ],
      images: [
        {
          src: '/images/works/feroxMock.webp',
          alt: 'ferox-app-mock',
          class:
            'hidden md:block absolute right-10 bottom-36 xl:bottom-0 h-60 md:h-[55%] xl:h-[75%]',
        },
      ],
      techStack: [
        { src: '/images/icons/flutter.svg', alt: 'flutter-icon' },
        { src: '/images/icons/dart.svg', alt: 'dart-icon' },
        { src: '/images/icons/android-icon.svg', alt: 'android-icon' },
        { src: '/images/icons/firebase.svg', alt: 'firebase-icon' },
        { src: '/images/icons/stripe.svg', alt: 'stripe-icon' },
      ],
    }}
  />
  <WorkCard
    {...{
      id: 'advantisAI',
      title: 'ADVANTIS.AI',
      bgColor: 'bg-[#22A7F2]',
      textColor: 'text-[#22A7F2]',
      link: 'https://www.figma.com/proto/8ShCMxzmpgONb3goAOGLBj/TARP-rebrand?node-id=139-907&t=P2Qw3j0XwZZ202Gd-1',
      reverse: true,
      description: [
        'Advantis AI is at the forefront of revolutionizing the decentralized finance (DeFi) industry through the power of artificial intelligence (AI).',
        'Your mission is to bridge the gap between technology and users, providing comprehensive tools, educational resources, and a thriving community.',
        'Offering a series of features designed specifically for your comfort as hunters, always being attentive to the needs that arise in the sector.',
      ],
      images: [
        {
          src: '/images/works/advantis-scan.webp',
          alt: 'advantis-mockup-scan',
          class: 'hidden md:block absolute md:left-3 xl:left-4 top-20 h-60 md:h-[55%] xl:h-[65%]',
        },
        {
          src: '/images/works/advantis-home.webp',
          alt: 'advantis-mockup-home',
          class: 'hidden md:block absolute md:left-3 xl:left-56 top-80 h-60 md:h-[50%] xl:h-[60%]',
        },
      ],
      techStack: [
        { src: '/images/icons/react.svg', alt: 'react-icon' },
        { src: '/images/icons/typescript.svg', alt: 'typescript-icon' },
        { src: '/images/icons/html5.svg', alt: 'html5-icon' },
        { src: '/images/icons/css.svg', alt: 'css-icon' },
        { src: '/images/icons/firebase.svg', alt: 'firebase-icon' },
      ],
    }}
  />
  <WorkCard
    {...{
      id: 'fmoney',
      title: 'FMoney raffle',
      bgColor: 'bg-[#629A48]',
      textColor: 'text-[#629A48]',
      link: 'https://www.figma.com/proto/Ic2WlwbqBiSLBOBtOX4Je4/App-megapool?node-id=262-99250&t=52OuOuXFk5eiOAq2-1',
      description: [
        'FMoney is a blockchain technology currently applied to raffles.',
        'The platform guarantees greater transparency, instant traceability, security, greater speed, and efficiency to all processes (purchase, selection of the winner, and prize claim).',
      ],
      images: [
        {
          src: '/images/works/fmoney.webp',
          alt: 'ferox-app-mock',
          class:
            'hidden md:block absolute right-10 bottom-36 xl:bottom-32 h-60 h-60 md:h-[55%] xl:h-[65%]',
        },
      ],
      techStack: [
        { src: '/images/icons/react.svg', alt: 'Apple-icon' },
        { src: '/images/icons/typescript.svg', alt: 'typescript-icon' },
        { src: '/images/icons/dart.svg', alt: 'dart-icon' },
        { src: '/images/icons/firebase.svg', alt: 'firebase-icon' },
        { src: '/images/icons/metamask.svg', alt: 'stripe-icon' },
      ],
    }}
  />
  <!-- <LamShoesWork /> -->
</section>
