<div
  class='leading-4 absolute mt-5 flex items-center justify-center left-0 bg-white w-10/12 xs:w-4/12 lg:w-6/12 xl:w-9/12 border-gray-300 rounded-r-full'
>
  <div
    class='absolute p-4 -top-14 md:-top-10 lg:-top-8 xl:-top-6 flex flex-col items-center justify-center text-center left-20 size-48 rounded-full bg-green-200'
  >
    <h3 class='text-black text-2xl md:text-xl lg:text-lg xl:text-base font-extrabold pb-2'>
      MOBILE DEVELOPER
    </h3>
    <span class='text-black text-xs md:text-2xs lg:text-3xs xl:text-4xs'
      >Professional iOS and Android developer</span
    >
  </div>
  <div
    class='absolute flex flex-col items-center justify-center text-center p-4 -bottom-14 md:-bottom-10 lg:-bottom-8 xl:-bottom-6 right-60 size-44 rounded-full bg-lime-200'
  >
    <h3 class='text-black text-xl md:text-lg lg:text-base xl:text-sm font-extrabold pb-2'>
      WEB DEVELOPER
    </h3>
    <span class='text-black text-xs md:text-2xs lg:text-3xs xl:text-4xs'>
      Knowledge of developing large websites with best practices
    </span>
  </div>

  <div
    class='absolute flex flex-col items-center justify-center text-center bottom-16 md:bottom-8 lg:bottom-4 rotate-12 left-48 md:left-24 lg:left-12 w-48 md:w-24 lg:w-12 h-24 md:h-12 lg:h-6 px-16 md:px-8 lg:px-4 rounded-2xl bg-yellow-300'
  >
    <div
      class='absolute left-2 md:left-1 lg:left-0.5 top-2 md:top-1 lg:top-0.5 size-2 md:size-1 lg:size-0.5 rounded-2xl bg-gray-600'
    >
    </div>
    <div
      class='absolute right-2 md:right-1 lg:right-0.5 top-2 md:top-1 lg:top-0.5 size-2 md:size-1 lg:size-0.5 rounded-2xl bg-gray-600'
    >
    </div>
    <div
      class='absolute left-2 md:left-1 lg:left-0.5 bottom-2 md:bottom-1 lg:bottom-0.5 size-2 md:size-1 lg:size-0.5 rounded-2xl bg-gray-600'
    >
    </div>
    <div
      class='absolute right-2 md:right-1 lg:right-0.5 bottom-2 md:bottom-1 lg:bottom-0.5 size-2 md:size-1 lg:size-0.5 rounded-2xl bg-gray-600'
    >
    </div>
    <h3 class='text-black font-extrabold'>REACT</h3>
    <h3 class='text-black font-extrabold'>FLUTTER</h3>
    <h3 class='text-black font-extrabold'>NEXT.JS</h3>
  </div>
  <div
    class='absolute flex flex-col items-start justify-center text-start -hue-rotate-15 -rotate-12 top-12 md:top-6 lg:top-3 -right-14 md:-right-7 lg:-right-3.5 w-44 md:w-22 lg:w-11 h-20 md:h-10 lg:h-5 px-14 md:px-7 lg:px-3.5 rounded-2xl bg-green-200'
  >
    <div
      class='absolute left-2 md:left-1 lg:left-0.5 top-2 md:top-1 lg:top-0.5 size-2 md:size-1 lg:size-0.5 rounded-2xl bg-gray-600'
    >
    </div>
    <div
      class='absolute left-2 md:left-1 lg:left-0.5 bottom-2 md:bottom-1 lg:bottom-0.5 size-2 md:size-1 lg:size-0.5 rounded-2xl bg-gray-600'
    >
    </div>
    <h3 class='text-black font-extrabold pb-1'>UX/UI Trends</h3>
    <h4 class='text-black font-extrabold'>@'24</h4>
  </div>
  <img
    class='drop-shadow-2xl w-96 h-96 mr-20 hover:scale-110 hover:-translate-y-4 duration-200'
    alt='LiamMarega-avatar'
    src='/images/avatar-withoutbg.png'
  />
</div>
