<div
  class='w-11/12 leading-4 absolute mt-10 flex items-center justify-center left-0 bg-white border-gray-300 rounded-r-full'
>
  <div
    class='absolute p-4 -top-14 left-0 md:left-20 flex flex-col items-center justify-center text-center size-28 md:size-48 rounded-full bg-green-200'
  >
    <h3 class='text-black text-lg md:text-xl font-extrabold pb-2'>MOBILE DEVELOPER</h3>
    <span class='hidden md:block text-black text-xs'>Professional iOS and Android developer</span>
  </div>
  <div
    class='absolute flex flex-col items-center justify-center text-center p-4 -bottom-14 right-5 md:right-60 size-28 md:size-44 rounded-full bg-lime-200'
  >
    <h3 class='text-black text-lg md:text-xl font-extrabold pb-2'>WEB DEVELOPER</h3>
    <span class='hidden md:block text-black text-xs'>
      Knowledge of developing large websites with best practices
    </span>
  </div>

  <div
    class='absolute text-lg flex flex-col items-center justify-center text-center top-0 md:top-52 rotate-12 right-0 md:left-48 w-20 h-24 md:w-48 md:h-24 px-16 rounded-2xl bg-yellow-300'
  >
    <div class='absolute left-2 top-2 size-2 rounded-2xl bg-gray-600'></div>
    <div class='absolute right-2 top-2 size-2 rounded-2xl bg-gray-600'></div>
    <div class='absolute left-2 bottom-2 size-2 rounded-2xl bg-gray-600'></div>
    <div class='absolute right-2 bottom-2 size-2 rounded-2xl bg-gray-600'></div>
    <h3 class='text-black font-extrabold'>REACT</h3>
    <h3 class='text-black font-extrabold'>FLUTTER</h3>
    <h3 class='text-black font-extrabold'>NEXT.JS</h3>
  </div>
  <div
    class='hidden absolute md:flex flex-col items-start justify-center text-start -hue-rotate-15 -rotate-12 top-12 -right-14 w-20 h-24 md:w-48 md:h-24 px-14 rounded-2xl bg-green-200'
  >
    <div class='absolute left-2 top-2 size-2 rounded-2xl bg-gray-600'></div>
    <div class='absolute left-2 bottom-2 size-2 rounded-2xl bg-gray-600'></div>
    <h3 class='text-black font-extrabold pb-1 text-lg'>UX/UI Trends</h3>
    <h4 class='text-black font-extrabold text-lg'>@'24</h4>
  </div>
  <img
    class='drop-shadow-2xl h-60 md:h-96 mr-20 hover:scale-110 hover:-translate-y-5 duration-200'
    alt='LiamMarega-avatar'
    src='/images/avatar-withoutbg.png'
  />
</div>
