<div
  class="w-10/12 2xl:w-11/12 leading-4 absolute 2xl:mt-10 flex items-center justify-center left-0 bg-white border-gray-300 rounded-r-full animate-slide-in"
>
  <div
    class="absolute -top-8 2xl:-top-14 left-0 md:left-20 flex flex-col items-center justify-center text-center size-28 md:size-32 2xl:size-48 rounded-full bg-green-200 animate-pop-in delay-1"
  >
    <h3 class="text-black text-base 2xl:text-xl font-extrabold pb-2">
      MOBILE DEVELOPER
    </h3>
    <span class="hidden md:block text-black text-xs"
      >Professional iOS and Android developer</span
    >
  </div>
  <div
    class="absolute flex flex-col items-center justify-center text-center p-4 -bottom-14 right-5 md:right-60 size-28 md:size-36 2xl:size-44 rounded-full bg-lime-200 animate-pop-in delay-2"
  >
    <h3 class="text-black text-lg md:text-xl font-extrabold pb-2">
      WEB DEVELOPER
    </h3>
    <span class="hidden md:block text-black text-xs">
      Knowledge of developing large websites with best practices
    </span>
  </div>

  <div
    class="absolute text-lg flex flex-col items-center justify-center text-center top-0 md:top-40 2xl:top-52 rotate-12 right-0 md:left-32 2xl:left-48 w-20 h-24 md:w-48 md:h-24 px-16 rounded-2xl bg-yellow-300 animate-pop-in delay-3"
  >
    <div class="absolute left-2 top-2 size-2 rounded-2xl bg-gray-600"></div>
    <div class="absolute right-2 top-2 size-2 rounded-2xl bg-gray-600"></div>
    <div class="absolute left-2 bottom-2 size-2 rounded-2xl bg-gray-600"></div>
    <div class="absolute right-2 bottom-2 size-2 rounded-2xl bg-gray-600"></div>
    <h3 class="text-black font-extrabold">REACT</h3>
    <h3 class="text-black font-extrabold">FLUTTER</h3>
    <h3 class="text-black font-extrabold">NEXT.JS</h3>
  </div>
  <div
    class="hidden absolute md:flex flex-col items-start justify-center text-start -hue-rotate-15 -rotate-12 top-12 -right-14 w-20 h-24 md:w-48 md:h-24 px-14 rounded-2xl bg-green-200 animate-pop-in delay-4"
  >
    <div class="absolute left-2 top-2 size-2 rounded-2xl bg-gray-600"></div>
    <div class="absolute left-2 bottom-2 size-2 rounded-2xl bg-gray-600"></div>
    <h3 class="text-black font-extrabold pb-1 text-lg">UX/UI Trends</h3>
    <h4 class="text-black font-extrabold text-lg">@'25</h4>
  </div>
  <img
    class="drop-shadow-2xl md:h-60 2xl:h-96 mr-20 hover:scale-110 hover:-translate-y-5 duration-200 animate-slide-in-with-container"
    alt="LiamMarega-avatar"
    src="/images/avatar-withoutbg.png"
  />
</div>

<style>
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes popIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slideIn 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }

  .animate-slide-in-with-container {
    animation: none; /* Inherit parent container animation */
  }

  .animate-pop-in {
    opacity: 0;
    animation: popIn 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  }

  .delay-1 {
    animation-delay: 1.5s;
  }

  .delay-2 {
    animation-delay: 1.7s;
  }

  .delay-3 {
    animation-delay: 1.9s;
  }

  .delay-4 {
    animation-delay: 2.1s;
  }
</style>
