<div
  class='w-6/12 md:w-10/12 leading-4 absolute mt-5 flex items-center justify-center left-0 bg-white border-gray-300 rounded-r-full'
>
  <div
    class='absolute p-4 -top-14 flex flex-col items-center justify-center text-center left-20 size-48 rounded-full bg-green-200'
  >
    <h3 class='text-black text-2xl font-extrabold pb-2'>MOBILE DEVELOPER</h3>
    <span class='text-black text-xs'>Professional iOS and Android developer</span>
  </div>
  <div
    class='absolute flex flex-col items-center justify-center text-center p-4 -bottom-14 right-60 size-44 rounded-full bg-lime-200'
  >
    <h3 class='text-black text-xl font-extrabold pb-2'>WEB DEVELOPER</h3>
    <span class='text-black text-xs'>
      Knowledge of developing large websites with best practices
    </span>
  </div>

  <div
    class='absolute flex flex-col items-center justify-center text-center bottom-16 rotate-12 left-48 w-48 h-24 px-16 rounded-2xl bg-yellow-300'
  >
    <div class='absolute left-2 top-2 size-2 rounded-2xl bg-gray-600'></div>
    <div class='absolute right-2 top-2 size-2 rounded-2xl bg-gray-600'></div>
    <div class='absolute left-2 bottom-2 size-2 rounded-2xl bg-gray-600'></div>
    <div class='absolute right-2 bottom-2 size-2 rounded-2xl bg-gray-600'></div>
    <h3 class='text-black font-extrabold'>REACT</h3>
    <h3 class='text-black font-extrabold'>FLUTTER</h3>
    <h3 class='text-black font-extrabold'>NEXT.JS</h3>
  </div>
  <div
    class='absolute flex flex-col items-start justify-center text-start -hue-rotate-15 -rotate-12 top-12 -right-14 w-44 h-20 px-14 rounded-2xl bg-green-200'
  >
    <div class='absolute left-2 top-2 size-2 rounded-2xl bg-gray-600'></div>
    <div class='absolute left-2 bottom-2 size-2 rounded-2xl bg-gray-600'></div>
    <h3 class='text-black font-extrabold pb-1'>UX/UI Trends</h3>
    <h4 class='text-black font-extrabold'>@'24</h4>
  </div>
  <img
    class='drop-shadow-2xl h-32 md:h-96 mr-20 hover:scale-110 hover:-translate-y-5 duration-200'
    alt='LiamMarega-avatar'
    src='/public/images/avatar-withoutbg.png'
  />
</div>
