---

---

<header>
  <nav class='text-xl font-light px-2 md:px-12 py-8 flex items-center md:justify-between'>
    <div class='flex gap-x-5 w-24 md:w-48'>
      <div class='bg-white w-8 py-5 border-gray-300 rounded-r-full md:w-12'></div>
      <a href='/' class='hidden md:bolck'> <h3>Liam Marega</h3></a>
    </div>
    <ul class='flex gap-10'>
      <li><a href='#about'>About</a></li>
      <li><a href='#work'>Work</a></li>
      <li><a href='#contact'>Contact</a></li>
    </ul>
  </nav>
</header>

<style>
  @font-face {
    font-family: 'ShantellSans';
    src: url('fonts/ShantellSans-Light.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: lighter;
  }
  header,
  nav {
    font-family: 'ShantellSans', sans-serif;
    font-weight: lighter;
  }
</style>
